 * {
 	margin: 0;
 	padding: 0;
 }

html, body
{
	width: 100%;
	min-height: 100%;
	background-color: #f1f1f1;
}


header
{
	min-height: 100px;
	background-color: #e2e2e2;
}

header a
{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: black;
	display: inline-block;
	margin-top: 25px;
	margin-left: 20px;
	padding: 10px;
	background-color: #c1c1c1;
	border-radius: 10px;
	font-size: 20px;
	margin-bottom: 25px;
	color: #777777;
}

.wrapper
{
	width: 100%;
	min-height: 100%;
}


.not_logged_in
{
	font-family: 'Roboto', sans-serif;
	font-size: 19px;
	display: inline-block;
	margin-top: 5px;
}


.login_error
{
	color: #dc2c2c;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	border-bottom: 1px solid #dc2c2c;
	display: inline-block;
}

.login_input, .login_select
{
	width: 60%;
	height: 40px;
	display: block;
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
	padding-left: 10px;
	outline: none;
}

.login_button
{
	width: 40%;
	border: 1px solid #c1c1c1;
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	margin-top: 20px;
	cursor: pointer;
	outline: none;
	min-height: 30px;
}


.destroy_session
{
	display: inline-block;
	padding-left: 30%;
	padding-right: 30%;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #a7a6a6;
	margin-top: 30px;
	color: white;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;

}

.destroy_session:hover
{
	opacity: 0.8;
}


.page
{
	margin-left: 20%;
	margin-top: 30px;
}

.page .big_title
{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 21px;
}


.zakaz_info
{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: black;

}


.more
{
	display: inline-block;
	padding: 10px;
	color: darkgrey;
	background-color: black;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	margin-top: 5px;
}


.more:hover
{
	color: black;
	background-color: darkgrey;

}


.work_time
{
	font-family: 'Roboto', sans-serif;
	color: black;
	font-size: 21px;
	display: inline-block;
	margin-top: 10px;
}


.footer
{
	height: 100px;
	margin-top: 300px;
}


.empty
{
	font-family: sans-serif;
	font-size: 16px;
	margin-top: 20px;
	display: block;
	font-weight: bold;
	color: #963c3c;
}


.lights
{
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	background-color: #e82e2e;
}